.homePage {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}
.homePage .HomeNav {
  height: 90px;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding-left: 6rem;
  padding-top: 2rem;
}
.homePage .HomeNav .homeLogo {
  margin: 0 6%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.homePage .HomeNav .homeLogo .logoImg {
  font-size: 6rem;
  color: rgb(140, 212, 253);
}
.homePage .HomeNav .homeLogo .title {
  font-size: 2.5rem;
  color: white;
  text-shadow: rgb(230, 92, 235) 1px 0 10px;
  font-weight: 600;
}
.homePage .HomeNav .options {
  display: flex;
  gap: 2rem;
  margin-left: 3rem;
}
.homePage .HomeNav .options .option a {
  text-decoration: none;
  color: rgb(140, 212, 253);
  font-size: 1.2rem;
  cursor: pointer;
}
.homePage .HomeNav .options .option a:hover {
  text-shadow: rgb(161, 182, 202) 1px 0 8px;
}
.homePage .section {
  width: 100%;
  height: 100vh;
}
.homePage .header {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  height: 95vh;
  padding-bottom: 50rem;
}
.homePage .header .img {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 44%;
  transform: translate(-50%, -50%) rotate(-3deg);
  width: 108%;
  height: 550px;
  filter: brightness(0.5);
}
.homePage .header .text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: rgb(153, 165, 219) 1px 0 10px;
}
.homePage .header .text .title {
  font-size: 4.5rem;
  color: rgb(92, 195, 255);
  font-weight: 700;
  text-wrap: nowrap;
}
.homePage .header .text .def {
  color: white;
  font-weight: 500;
}
.homePage .header .ctPlay {
  padding: 0.5rem 1rem;
  margin-top: 3rem;
  position: absolute;
  left: 50%;
  top: 110%;
  transform: translateX(-50%);
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid rgb(3, 161, 253);
  color: rgb(3, 161, 253);
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.homePage .header .ctPlay:hover {
  background-color: rgb(3, 161, 253);
  color: white;
}
.homePage .header .ctPlay:active {
  transform: translateX(-50%) scale(1.05);
}
.homePage .gameInfo {
  background-color: transparent;
  display: flex;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  flex-direction: column;
}
.homePage .gameInfo .pageTitle {
  color: white;
  text-align: left;
  width: 70%;
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  text-shadow: #3586ff 1px 1px 10px;
}
.homePage .gameInfo .info {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  color: azure;
  text-align: left;
  margin-bottom: 2rem;
}
.homePage .gameInfo .info .title {
  font-size: 2.5rem;
  color: rgb(140, 212, 253);
  position: relative;
  font-weight: 700;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}
.homePage .gameInfo .info .title::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  background-color: rgb(140, 212, 253);
  width: 300px;
  top: 100%;
}
.homePage .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #3586ff;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 200px;
  padding: 2rem 3rem;
}
.homePage .footer .sicial_icon, .homePage .footer .menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  flex-wrap: wrap;
}
.homePage .footer .sicial_icon li {
  list-style: none;
  font-size: 2rem;
  color: white;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.homePage .footer .sicial_icon li:hover {
  transform: translateY(-10px);
}
.homePage .footer .menu li {
  list-style: none;
  opacity: 0.75;
  font-size: 1.5rem;
  color: white;
  margin: 0 0.9rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.homePage .footer .menu li:hover {
  opacity: 1;
}
.homePage .footer .waves .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../../../assets/wave.png");
  background-size: 1000px 100px;
}
.homePage .contactUs {
  display: flex;
  align-items: center;
  margin-top: -6rem;
  gap: 5rem;
  padding: 0 10rem;
}
.homePage .contactUs .pageTitle {
  color: white;
  text-shadow: #03a1fd 1px 1px 10px;
  font-size: 2.3rem;
}
.homePage .contactUs .description {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  overflow: hidden;
  flex: 2;
}
.homePage .contactUs .description .desTitle {
  text-align: left;
  font-size: 2.2rem;
  color: white;
  position: relative;
  margin: 2rem 0;
}
.homePage .contactUs .description .desTitle::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 4px;
  top: 110%;
  background: linear-gradient(90deg, rgb(3, 161, 253) 50%, gray 50%);
}
.homePage .contactUs .description p {
  text-align: left;
  color: rgba(175, 175, 175, 0.6);
}
.homePage .contactUs .description .coords {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.homePage .contactUs .description .coords .coord {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: left;
}
.homePage .contactUs .description .coords .coord .iconContainer {
  border-radius: 50%;
  border: 2px solid rgb(3, 161, 253);
  color: white;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.homePage .contactUs .description .coords .coord .iconContainer .icon {
  font-size: 1.3rem;
}
.homePage .contactUs .description .coords .coord .text {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
}
.homePage .contactUs .description .coords .coord .text .title {
  color: white;
}
.homePage .contactUs .description .coords .coord .text p {
  color: rgba(175, 175, 175, 0.6);
}
.homePage .contactUs .form {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 3%;
       column-gap: 3%;
}
.homePage .contactUs .form .inputGroupe {
  margin: 1rem 0;
  position: relative;
}
.homePage .contactUs .form .inputGroupe input, .homePage .contactUs .form .inputGroupe textarea {
  outline: none;
  position: relative;
  border: none;
  border-bottom: 2px solid gray;
  width: 100%;
  transition: all 0.4s ease-in-out;
  background-color: transparent;
  color: white;
  padding: 5px;
}
.homePage .contactUs .form .inputGroupe input:focus + label, .homePage .contactUs .form .inputGroupe textarea:focus + label {
  transform: translateY(-23px);
}
.homePage .contactUs .form .inputGroupe textarea {
  resize: none;
  height: 210px;
}
.homePage .contactUs .form .inputGroupe label {
  position: absolute;
  color: white;
  left: 0;
  top: 8px;
  font-size: 0.8rem;
  transition: all 0.3s ease-in-out;
  color: rgba(167, 167, 167, 0.7);
}
.homePage .contactUs .form .Half_Width {
  flex-basis: 48%;
}
.homePage .contactUs .form .Full_Width {
  flex-basis: 100%;
}
.homePage .contactUs .form .sendBtn {
  padding: 0.6rem;
  border-radius: 20px;
  background-color: #03a1fd;
  align-self: self-start;
  margin: 1rem 0;
  color: white;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.4s all ease-in-out;
}
.homePage .contactUs .form .sendBtn:hover {
  background-color: transparent;
  color: #03a1fd;
  border-color: #03a1fd;
}
.homePage .contactUs .form .sendBtn:active {
  transform: scale(1.05);
}

@keyframes animatewave {
  0% {
    background-position-x: 1000px;
  }
  1000% {
    background-position-x: 0;
  }
}
@keyframes animatewave_2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@media screen and (max-width: 1300px) {
  .homePage .HomeNav {
    height: 85px;
    padding-left: 5rem;
    padding-top: 1.8rem;
  }
  .homePage .HomeNav .homeLogo {
    margin: 0 2%;
  }
  .homePage .HomeNav .homeLogo .logoImg {
    font-size: 5rem;
  }
  .homePage .HomeNav .homeLogo .title {
    font-size: 2rem;
  }
  .homePage .HomeNav .options {
    gap: 1.8rem;
  }
  .homePage .HomeNav .options .option a {
    font-size: 1rem;
  }
  .homePage .section {
    width: 100%;
    height: 100vh;
  }
  .homePage .header {
    position: relative;
    height: 95vh;
    padding-bottom: 50rem;
  }
  .homePage .header .img {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  .homePage .header .text .title {
    font-size: 4rem;
  }
  .homePage .header .text .def {
    font-size: 0.9rem;
  }
  .homePage .header .ctPlay {
    font-size: 0.9rem;
    border-radius: 10px;
  }
  .homePage .gameInfo .pageTitle {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .homePage .gameInfo .info {
    margin-bottom: 2rem;
  }
  .homePage .gameInfo .info .title {
    font-size: 1.8rem;
  }
  .homePage .gameInfo .info .title::before {
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    background-color: rgb(140, 212, 253);
    width: 300px;
    top: 100%;
  }
  .homePage .gameInfo .info .text {
    font-size: 0.9rem;
  }
  .homePage .contactUs {
    gap: 4rem;
    padding: 0 8rem;
  }
  .homePage .contactUs .pageTitle {
    font-size: 2rem;
  }
  .homePage .contactUs .description .desTitle {
    font-size: 2rem;
    margin: 2rem 0;
  }
  .homePage .contactUs .description p {
    font-size: 0.9rem;
  }
  .homePage .contactUs .form {
    -moz-column-gap: 3%;
         column-gap: 3%;
  }
  .homePage .contactUs .form .inputGroupe {
    margin: 1rem 0;
    position: relative;
  }
  .homePage .contactUs .form .inputGroupe input, .homePage .contactUs .form .inputGroupe textarea {
    width: 100%;
    padding: 5px;
  }
  .homePage .contactUs .form .inputGroupe input:focus + label, .homePage .contactUs .form .inputGroupe textarea:focus + label {
    transform: translateY(-23px);
  }
  .homePage .contactUs .form .inputGroupe textarea {
    height: 200px;
  }
  .homePage .contactUs .form .Half_Width {
    flex-basis: 48%;
  }
  .homePage .contactUs .form .Full_Width {
    flex-basis: 100%;
  }
  .homePage .contactUs .form .sendBtn {
    font-size: 0.7rem;
  }
  .homePage .footer {
    max-height: 150px;
    padding: 1.8rem 2rem;
  }
  .homePage .footer .sicial_icon li {
    font-size: 1.6rem;
  }
  .homePage .footer .menu li {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1000px) {
  .homePage .HomeNav {
    height: 75px;
    padding-left: 5rem;
    padding-top: 1.8rem;
  }
  .homePage .HomeNav .homeLogo {
    margin: 0 2%;
  }
  .homePage .HomeNav .homeLogo .logoImg {
    font-size: 4rem;
  }
  .homePage .HomeNav .homeLogo .title {
    font-size: 1.8rem;
  }
  .homePage .header .text .title {
    font-size: 3.2rem;
  }
  .homePage .header .text .def {
    font-size: 0.8rem;
  }
  .homePage .header .ctPlay {
    font-size: 0.8rem;
  }
  .homePage .gameInfo .pageTitle {
    font-size: 2rem;
  }
  .homePage .gameInfo .info {
    margin-bottom: 2rem;
  }
  .homePage .gameInfo .info .title {
    font-size: 1.2rem;
  }
  .homePage .gameInfo .info .text {
    font-size: 0.7rem;
  }
  .homePage .contactUs {
    flex-direction: column;
    gap: 2rem;
    padding: 0 8rem;
    margin-bottom: 8rem;
    margin-top: 1rem;
    height: -moz-fit-content;
    height: fit-content;
  }
  .homePage .contactUs .pageTitle {
    font-size: 2rem;
  }
  .homePage .contactUs .description .desTitle {
    font-size: 2rem;
  }
  .homePage .contactUs .description p {
    font-size: 0.9rem;
  }
  .homePage .contactUs .form .inputGroupe {
    margin: 1rem 0;
    position: relative;
  }
  .homePage .contactUs .form .inputGroupe input, .homePage .contactUs .form .inputGroupe textarea {
    width: 100%;
    padding: 5px;
  }
  .homePage .contactUs .form .inputGroupe input:focus + label, .homePage .contactUs .form .inputGroupe textarea:focus + label {
    transform: translateY(-23px);
  }
  .homePage .contactUs .form .inputGroupe textarea {
    height: 200px;
  }
  .homePage .contactUs .form .Half_Width {
    flex-basis: 48%;
  }
  .homePage .contactUs .form .Full_Width {
    flex-basis: 100%;
  }
  .homePage .contactUs .form .sendBtn {
    font-size: 0.7rem;
  }
  .homePage .footer {
    max-height: 150px;
    padding: 1.8rem 2rem;
  }
  .homePage .footer .sicial_icon li {
    font-size: 1.6rem;
  }
  .homePage .footer .menu li {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 800px) {
  .homePage .HomeNav {
    height: 70px;
    padding-left: 2rem;
    padding-top: 1.5rem;
  }
  .homePage .HomeNav .homeLogo {
    margin: 0 2%;
  }
  .homePage .HomeNav .homeLogo .logoImg {
    font-size: 2.5rem;
  }
  .homePage .HomeNav .homeLogo .title {
    font-size: 1.3rem;
  }
  .homePage .HomeNav .options .option a {
    font-size: 0.9rem;
  }
}
#wave1 {
  z-index: 1000;
  opacity: 1;
  animation: animatewave 4s linear infinite;
}

#wave2 {
  z-index: 999;
  opacity: 0.5;
  animation: animatewave_2 4s linear infinite;
}

#wave3 {
  z-index: 1000;
  opacity: 0.2;
  animation: animatewave 3s linear infinite;
}

#wave4 {
  z-index: 999;
  opacity: 0.7;
  animation: animatewave_2 3s linear infinite;
}/*# sourceMappingURL=home.css.map */