
  
.gameContainer{
    width: 100vw;
    height: 100%;
    position: relative;
    display: flex;
    align-items:start;
    justify-content: center;
    padding-top: 15rem;
    margin-top: 0;
    z-index: 200;
    align-self: self-start;
   
    .logoutContainer{
        position: fixed;
        right: 2rem;
        top: 50%;
    }
    .blob{
        z-index: 0;
        position: fixed;
        width: 300px;
        height: 250px;
        &.left{
            bottom: 0;
            left: 0;
            
        }
        &.right{
            top: 0;
            right: 0;
        }
        &.leftYello{
            transform: rotate(180deg);
            left: 0;
            bottom: 0;
            width: 200px;
            height: 200px;
        }
    }
    .intro-section{
        h1{
            font-size: 2.2rem;
            color:  rgba(41, 50, 100, 1);
            margin-bottom: 2rem ;
        }
        p{
            font-size: 1rem;
            margin: .5rem 0;
            color:  rgba(41, 50, 100, 1);

        }
        .options{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .option{
                background-color: rgb(127, 177, 218);
                color: white;
                border-radius: 10px;
                position: relative;
                margin: 2rem 3rem;
                width: 190px;
                margin-bottom: .7rem;
                [id*=gameBtn]:checked + ul{
                    display: block;
                }

                label{
                    font-size: .9rem;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    padding: .5rem  .9rem;
                    gap: 5px;
                    
                    cursor: pointer;
                    .dropDownIcon{
                        min-width: 15px;
                        margin-left: auto;
                    }
                }
                
                .menu{
                    top: 48px;
                    &::before{
                        content: "";
                        position: absolute;
                        background-color: rgb(127, 177, 218);
                        width: 10px;
                        height: 10px;
                        transform: rotate(45deg);
                        z-index: 1;
                        right: 9px;
                        top: -5px;
                    }
                   
                }
                
                ul{
                    position: absolute;
                    background-color: rgb(127, 177, 218);
                    list-style: none;
                    width: 100%;
                    right: 10px;
                    border-radius: 5px;
                    display: none;
                    color: white;
                    width: fit-content;
                    li{
                        text-align: left;
                        padding: 2px 10px;
                        line-height: 17px;
                        border-bottom: 1px solid rgba(0,0,0,.3);
                        text-wrap: nowrap;
                        font-size: 13px;
                        
                        label{
                            padding: .1rem;
                            font-size: 14px;
                            align-items: center;
                            .dropDownIcon{
                                margin-top: 5px;
                                min-width: 20px;
                                margin-left: auto;
                                
                            }
                        }
                        ul{
                            position: static;
                            li{
                                line-height: 15px;
                                padding-left: 20px;
                                border-bottom: none;
                                text-align: left;
                                cursor: pointer;
                                &:hover{
                                    color: black;
                                }
                            }
                            
                        }
                        
                    }

                    li:not(:has(>label)){
                        cursor: pointer;
                        &:hover{
                            color: black;
                        }
                    }
                   
                }
               
                
            }

        }
        .startBtn{
            padding: .7rem;
            border-radius: 10px;
            border: none;
            font-size: 1rem;
            margin: 1.5rem;
            cursor: pointer;
            color: rgba(41, 50, 100, 1);
            transition: all .4s ease-in-out;
            &:hover{
                background-color:rgba(41, 50, 100, 1) ;
                color: white;
            }
            

        }
       
    }
    .score{
        position: fixed;
        top:30px;
        right: 8%;
        z-index: 200;
        box-shadow: 1px 1px 10px rgba(0,0,0,.1);
        padding: .8rem;
        border-radius: 10px;
        p{
            visibility: hidden;
            position: absolute;
            background-color: rgba(221, 221, 221,.6);
            z-index: -1;
            padding: .3rem;
            font-size: .7rem;
            border-radius: 10px;
            color: gray;
            text-wrap: nowrap;

        }
        .levelIconCont{
            position: relative;
            cursor: pointer;
            .level{
                top: 10px;
                left: 80%;
            }
            &:hover .level{
                visibility: visible;
            }
            
        }
        .levelBarCont{
            position: relative;
            cursor: pointer;
            margin-top: 1.5rem;
            .score{
                top: 120%;
                left: 50%;
                width: fit-content;
                transform: translateX(-50%);
            }
            &:hover .score{
                visibility: visible;
            }
            
        }
    }
}



input[type="checkbox"][id*="gameBtn"] {
    display: none;
}




@media screen and (max-width: 700px) {
    
    .gameContainer{

        .logoutContainer{
            position: fixed;
            right: 1rem;
            top:85%;
        }
        .blob{
            z-index: 0;
            position: fixed;
            width: 250px;
            height: 200px;
        }
        .intro-section{
            h1{
                font-size: 1.8rem;
                color:  rgba(41, 50, 100, 1);
                margin-bottom: 2rem ;
            }
            p{
                font-size: .9rem;
                margin: .5rem auto;
                max-width: 85%;
            }
            .options{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                .option{
                   
                    border-radius: 10px;
                    position: relative;
                    margin: 2rem 3rem;
                    width: 150px;
                    margin-bottom: .7rem;
                    [id^=btn]:checked + ul{
                        display: block;
                    }

                    label{
                        font-size: .7rem;
                        font-weight: 500;
                        padding: .5rem  .6rem;
                        cursor: pointer;
                    }
                    
                    .menu{
                        top: 40px;
                        &::before{
                            width: 8px;
                        }
                    
                    }
                    
                    ul{
                       
                        li{
                            padding: 2px 10px;
                            text-wrap: nowrap;
                            font-size: 10px;
                            
                            label{
                                font-size: 12px;
                            }
                            ul{
                                position: static;
                                li{
                                    line-height: 15px;
                                    padding-left: 20px;
                                }
                                
                            }
                            
                        }

                     
                    
                    }

                }

            }
            .startBtn{
                padding: .6rem;
                font-size: .8rem;
                margin: 1.2rem;

            }
        
        }
        .score{
            position: fixed;
            z-index: 200;
            padding: .5rem;
            p{
                z-index: -1;
                padding: .2rem;
                font-size: .6rem;

            }
            .levelBarCont{
                margin-top: 1.2rem; 
            }
        }
    }



}


  
.gameContainer.darkMood{
    .intro-section{
        h1{
            color:  rgb(133, 206, 169);
        }
        p{
            color:  white;

        }
        .options{

            .option{
                background-color: rgb(133, 206, 169);
                color: white;
                .menu{
                    &::before{
                        background-color: rgb(133, 206, 169);
                    }
                }
                
                ul{
      
                    background-color: rgb(133, 206, 169);
                    color: black;
                    li{
                        
                        border-bottom: 1px solid rgba(0,0,0,.3);

                        
                      
                      
                        
                    }

                   
                }
               
                
            }

        }
        .startBtn{  
            color: black;
            &:hover{
                background-color:rgb(133, 206, 169) ;
                color: white;
            }
            

        }
       
    }
    .score{
        p{
            background-color: rgb(133, 206, 169);
        }
    }
}