.levelIconCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .snowIcon{
        font-size: 2.5rem;
        color: rgb(155, 2, 2);

    }
    .starRow{
        display: flex;
        align-items: center;
        justify-content: center;
        .icon{
            font-size: 1.3rem;
            &.filled{
                color: rgb(164, 204, 236);
            }
        }
        
    }
}



@media screen and (max-width: 700px) {
    .levelIconCont{
        .snowIcon{
            font-size: 2rem;
        }
        .starRow{
            .icon{
                font-size: 1.1rem;
            }
            
        }
    }
}



.levelIconCont.darkMood{
    .snowIcon{
        color: rgb(133, 206, 169);

    }
    .starRow{
        .icon{
            color: rgb(133, 206, 169);
            &.filled{
                color: rgb(133, 206, 169);
            }
        }
        
    }
}



