#root {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.bgCover{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.bgCover.darkMood{
  background-color: black;
}
